:root{
    --vintage: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    background-image: url(./images/backgroung-img.png);
    background-size: cover;
    background-position: center;
}

/* navbar */

nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
}

.logo{
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo img{
    display: flex;
    /* margin: 0;
    padding: 0; */
    height: 50px;
    cursor: pointer;
    filter: drop-shadow(25px 25px 40px black);
}

.logo img:hover{
    transform: scale(0.9,0.9);
}

.logo a{
    font-size: 27px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--vintage);
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(226, 221, 221);
    cursor: pointer;
}

.logo a:hover{
    transform: scale(0.9,0.9);
}

.nav-items{
    display: flex;
}

.nav-items ul{
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.nav-items ul li a{
    text-decoration: none;
    color: var(--vintage);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgb(226, 221, 221);
}

.nav-items ul li a:hover{
    transform: scale(0.9,0.9);
}

/* main */

main .container{
    width: 100%;
    height: 90vh;
    position: relative;
}

main .container img{
    display: block;
    height: 100%;
    margin: auto;
    filter: drop-shadow(25px 25px 40px black);
}

.img-content{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.img-content .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100%;
    margin: auto 655px auto auto;
    gap: 15px;
    cursor: url(./images/quill.png)6 25,auto;
}

.todo{
    display: flex;
    cursor: inherit;
}

.todo_value{
    cursor: inherit;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(94, 41, 21);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-grow: 1;
}

.todo_checkbox{
    cursor: inherit;
}

.todo:has(.todo_checkbox:checked){
    color: rgb(84, 35, 0);
    background: rgba(0, 0, 0, 0.13);
    text-decoration: line-through 1.5px;
    order: 1;
}

